
div {
  background-color: rgb(187, 239, 255);
}


div {
  font-family: 'Ephesis', cursive;
}
.Toastify__toast-body{
  color:black !important
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden{
  display: none !important;
}
img {
  width: 250px;
  padding: 1em;
}